<!--extends layout-->

<!--block content-->
  <!--h1= message-->
  <!--h2= error.status-->
  <!--pre #{error.stack}-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<h1>You are NOT ALLOWED ACCESS PAGE </h1>
</body>
</html>